<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../design.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.png">
    <link rel="stylesheet" href="https://lucide.dev/icons/">
    <title>My Carabao - PCC</title>
</head>
<body>
    <!-- Navigational Bar -->
    <div class="sidebar">
        <!-- Logo -->
        <a href="index.html">
            <img src="../images/logo.png" class="logo">
        </a>

        <!-- User Profile -->
        <div class="user">
            <img class="profile-pic" src="../images/profile.jpg" alt="">
            <h2 id="name">Aldrin James Palma</h2>
        </div>
        
        <!-- Controls -->
        <div class="buttons">
            <a href="../index.html"><span class="material-symbols-rounded">home</span><p>Home</p></a>
            <a href="notifications.html"><span class="material-symbols-rounded">notifications</span><p>Notifications</p><p id="count"></p></a>
            <a href="mycarabao.html"class="active"><span class="material-symbols-rounded">grass</span><p>My Carabao</p></a>
            <a href="myprofile.html"><span class="material-symbols-rounded">person</span><p>My Profile</p></a>
            <a href="helpcenter.html"><span class="material-symbols-rounded">help</span><p>Help Center</p></a>
            <a href="aboutUs.html"><span class="material-symbols-rounded">info</span><p>About Us</p></a>
            <a href="#"><span class="material-symbols-rounded">logout</span><p>Log out</p></a>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">

        <!-- Head -->
        <div class="head">
            <h1>My Carabao</h1>
            <div class="head-control">
                <div class="search">
                    <input type="text" placeholder="Search">
                    <span class="material-symbols-rounded">search</span>
                </div>
                <a href="#"><p>Add Carabao</p><span class="material-symbols-rounded">add</span></a>
                <div class="concerns" id="concernsbutton">
                    <a><span class="material-symbols-rounded">medication</span></a>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="content">
            <a href="#" class="carabao-con">
                <div class="color">
                    <span class="material-symbols-rounded">more_vert</span>
                </div>
                <img class="carabao-profile" src="../images/carabao 1.png">
                <div class="carabao-details">
                    <h2>Carabao 1</h2>
                    <h3>#12345</h3>
                </div>
            </a>
            <a href="carabao.html" class="carabao-con">
                <div class="color">
                    <span class="material-symbols-rounded">more_vert</span>
                </div>
                <img class="carabao-profile" src="../images/carabao 2.png">
                <div class="carabao-details">
                    <h2>Carabao 2</h2>
                    <h3>#12345</h3>
                </div>
            </a>
            <a href="#" class="carabao-con">
                <div class="color">
                    <span class="material-symbols-rounded">more_vert</span>
                </div>
                <img class="carabao-profile" src="../images/carabao 3.png">
                <div class="carabao-details">
                    <h2>Carabao 3</h2>
                    <h3>#12345</h3>
                </div>
            </a>
            <a href="#" class="carabao-con">
                <div class="color">
                    <span class="material-symbols-rounded">more_vert</span>
                </div>
                <img class="carabao-profile" src="../images/carabao 4.png">
                <div class="carabao-details">
                    <h2>Carabao 4</h2>
                    <h3>#12345</h3>
                </div>
            </a>
        </div>
    </div>
    <!-- popup concerns -->
    <div class="popupConcerns" id="popupConcerns">
        <div class="popupContent2">
            <div class="popupTop">
                <h1>Concerns</h1>
            </div>
            <div class="userProf">
                <img src="../images/profile.jpg" alt="Profile Picture">
                <h2>Aldrin James Palma</h2>
            </div>
            <div class="concernsContent">
                <h2>Email:</h2>
                <input type="text" id="emailConcerns" class="editable popupInput">
                <textarea name="userconcerns" id="userconcerns"></textarea>
            </div>
            <div class="popupButtons">
                <a href="mycarabao.html" class="discardBtn">Discard</a>
                <a class="sendBtn">Send</a>
            </div>
            </div>
            <a href="#">Done</a>
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>

<style>
    .popupConcerns {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;

}
</style>
</html>