*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
 
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    position: relative;
    
}

.admin-pic{
    position: absolute;
    left: 425px;
    width: 350px;
    z-index: 9999;
}
.wrapper{
    width: 400px;
    height: 100%;
    padding: 35px;
    margin-left: 40px;
    display: block;
    justify-content: space-evenly;
    justify-content: right;
    align-items: right;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 4px rgba(3, 39, 102, 0.08);
    
}
.wrapper .mainLogo{
    position: relative;
    display: block;
    justify-content: space-evenly;
    margin-top: 40px;
    color: #283A8C;

}
.wrapper .mainLogo h1{
    padding-top: 10px;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}
.wrapper .logo{
    width: 120px;
    margin:0;
    padding: 0;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-radius: 25px;
    
}
.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    font-size: 16px;
    border-radius: 25px;
    padding: 20px 45px 20px 20px;
    outline: none;
    border: none;
    border: 2px solid #ECEEF6;
    transition: .5s ;
}
.input-box i{
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .remember-forgot{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.remember-forgot a{
    position: relative;
    text-decoration: none;
    color: black;
    
}
.remember-forgot a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #283A8C;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.remember-forgot a:hover::after{
    color: #283A8C;
    width: 100%;
}
.text-box{
    position: absolute;
    width: 90%;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.wrapper .btn{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
    background-color: #E9EBF1;
    outline: none;
    border: none;
    transition: 0.5s;
}
.wrapper .btn:hover{
    color: #fff;
    background: #283A8C;
    
}

.input-box input:hover{
    border: 2.5px solid #283A8C;
    box-shadow: 0px 0px 40px 4px rgba(3, 39, 102, 0.2s);
    transition: 1s;
}

.input-box input:focus,
.input-box input:active{
    border: 2.5px solid #283A8C;
}

/* ----------------------- Register ----------------------- */

.register{
    width: 400px;
    height: 100%;
    padding: 35px;
    margin-left: 40px;
    display: block;
    justify-content: space-evenly;
    justify-content: right;
    align-items: right;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 4px rgba(3, 39, 102, 0.08);
    
}
.register .mainLogo{
    position: relative;
    display: block;
    justify-content: space-evenly;
    margin-top: 40px;
    color: #283A8C;

}
.register .mainLogo h1{
    padding-top: 10px;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}
.register .logo{
    width: 120px;
    margin:0;
    padding: 0;
}

.register .inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-radius: 25px;

}

.register .dropdown-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-radius: 25px;
}

.dropdown-box select {
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    font-size: 16px;
    border-radius: 25px;
    padding: 0 45px 0 20px;
    border: 2px solid #ECEEF6;
    appearance: none;
    transition: .5s;
    cursor: pointer;

}
.dropdown-box::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 8px;
    height: 8px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    right: 23px;
    top: 55%;
    transform: rotate(45deg);
    margin-top: -9px;
    pointer-events: none;

}
.inputBox input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    font-size: 16px;
    border-radius: 25px;
    padding: 20px 45px 20px 20px;
    outline: none;
    border: none;
    border: 2px solid #ECEEF6;
    transition: .5s ;
}
.inputBox i{
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.register .Remember-Forgot{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.Remember-Forgot a{
    position: relative;
    text-decoration: none;
    color: black;
    
}
.Remember-Forgot a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #283A8C;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.Remember-Forgot a:hover::after{
    color: #283A8C;
    width: 100%;
}
.text-box{
    position: absolute;
    width: 90%;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.register .btn{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
    background-color: #E9EBF1;
    outline: none;
    border: none;
    transition: 0.5s;
}
.register .btn:hover{
    color: #fff;
    background: #283A8C;
    
}

.inputBox input:hover{
    border: 2.5px solid #283A8C;
    box-shadow: 0px 0px 40px 4px rgba(3, 39, 102, 0.2s);
    transition: 1s;
}

.inputBox input:focus,
.inputBox input:active{
    border: 2.5px solid #283A8C;
}

.dropdown-box select:hover{
    border: 2.5px solid #283A8C;
    box-shadow: 0px 0px 40px 4px rgba(3, 39, 102, 0.2s);
    transition: 1s;
}

.dropdown-box select:focus,
.dropdown-box select:active{
    border: 2.5px solid #283A8C;
}
